
#nav {
    background-color: blanchedalmond;
    position: fixed;
    top: 0;
    width: 100%;
}

#links {font-family:'Shadows Into Light', cursive;
font-size: 2.5vw;
    padding-bottom: 10px;
    padding-left: 50px;
    word-spacing: 5.5em;
    margin: auto;
    text-align:left;
    display: inline-block;
}

a{
text-decoration: none;
color: #4C4334;
}

a:visited{
text-decoration: none;
   color: #4C4334;}


#logo {max-height: 35px;
padding-right: 40px;
padding-left: 20px;
padding-top: 20px;
}



body {background-color: #4C4334;
/* background-image: url(resources/DSC_0081.jpg); */
    background-position: center 20px, left top;
    background-repeat: no-repeat;
    background-size: 1300px, auto;
    margin: 0;
}

.parallax {
  background-image: url(resources/DSC_0081.jpg);
  height: 1200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





h2 {font-family:'Shadows Into Light', cursive;
color: #4C4334;
    text-align: center;
    font-size: 5vw;
}


h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 7vw;
    color: white;
    padding-top: 100px;
    padding-bottom: 30px;
}

#header {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    color: #FAD8B1;
    font-size: 3vw;
}

.contact {
  position: relative;
  width: 15%;
    font-family: 'Roboto Slab', serif;
    background-color: white;
    border: 1px #FFF;
    border-radius: 2em;
    color: #4C4334;
    display: inline-block;
    font-weight: bold;
    margin-top: 15px;
    padding: 15px 30px;
}

.text { 
   position: relative;
  width: 100%;
    font-family: 'Roboto Slab', serif;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 15px 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);} 

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: saddlebrown;
    border: 1px #ffebcd;
    border-radius: 2em;
}

.contact:hover .overlay {
  opacity: 0.4;
}



#about {background-color: blanchedalmond;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    padding: 20px;
    margin-top: 300px;
}

#about p {
    font-family: 'Roboto Slab', serif;
    color: #4C4334;
    font-size: 20px;
    margin: 40px;
    padding-left: 100px;
    padding-right: 100px;}

#footer {
    font-family: 'Roboto Slab', serif;
    background-color: blanchedalmond;
    text-align: center;
    color: #4C4334;
    padding: 10px;
}