
#nav {
    font-family:'Shadows Into Light', cursive;
    background-color: antiquewhite;
    text-align:left;
    font-size: 25px;
    color: white;
    padding-bottom: 10px;
    word-spacing: 5.5em;
    margin: 0;
    
}

a{
text-decoration: none;
color: white;
}

a:visited{
text-decoration: none;
    color: white;}


#logo {max-height: 40px;
padding-right: 40px;
padding-left: 20px;
padding-top: 10px;
}



body {background-color: beige;
background-image: url(resources/IMG_0416.JPG);
    background-position: center 20px, left top;
    background-repeat: no-repeat;
    background-size: 1300px, auto;
}

h2 {font-family:'Shadows Into Light', cursive;
color: white;
    text-align: center;
    padding: 10px;
}


h1 {
    font-size: 70px;
    color: white;
    padding: 20px;
}

#header {
text-align: center;
    margin: auto;
    margin-top: 70px;
    color: antiquewhite;
    font-size: 30px;
}

.contact {
    background-color: #E43;
    border: 2px #E43;
    border-radius: 2em;
    color: #FFF;
    display: inline-block;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 30px;
}

#about {background-color: gray;
    margin-top: 600px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    padding: 20px;
}

#about p {
    color: white;
    margin: 50px;
padding-left: 100px;
padding-right: 100px;}

#footer {
    background-color: antiquewhite;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 50px;
}