#nav {
    
    font-family:'Shadows Into Light', cursive;
    background-color: blanchedalmond;
    text-align:left;
    font-size: 25px;
    padding-bottom: 10px;
    word-spacing: 5.5em;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
}

a{
text-decoration: none;
color: #4C4334;
}

a:visited{
text-decoration: none;
   color: #4C4334;}


#logo {max-height: 40px;
padding-right: 40px;
padding-left: 20px;
padding-top: 10px;
}



body {background-color: #4C4334;
margin: 0;}

.parallax {
  background-image: url(resources/texture.jpg);
  height: 2000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {color: white; 
    margin-bottom: 50px; 
    text-align: center; 
    font-weight: bold; 
    font-family: 'Shadows Into Light', cursive; 
    padding-top: 120px;
    font-size: 50px;
}

    #carshoot {margin-left: 250px; margin-right: 250px;}
    #carshoot img {max-height: 200px; }
    #carshoot p {text-align: center;
        font-family: 'Roboto Slab', serif;
        color: blanchedalmond;}

    #enviroshoot {margin-left: 250px; margin-right: 250px;}
    #enviroshoot p {text-align: center; font-family: 'Roboto Slab', serif; color: blanchedalmond;}
    #enviroshoot img{max-height: 247px;}
    #enviroshoot2 {margin-left: 250px; margin-right: 250px;}
    #enviroshoot2 img{max-height: 150px;}

    #footer {
    font-family: 'Roboto Slab', serif;
    background-color: blanchedalmond;
    text-align: center;
    color: #4C4334;
    padding: 10px;
}

