#nav {
    font-family:'Shadows Into Light', cursive;
    background-color: antiquewhite;
    text-align:left;
    font-size: 25px;
    color: white;
    padding-bottom: 10px;
    word-spacing: 5.5em;
    margin: 0;
    
}

a{
text-decoration: none;
color: white;
}

a:visited{
text-decoration: none;
    color: white;}


#logo {max-height: 40px;
padding-right: 40px;
padding-left: 20px;
padding-top: 10px;
}



body {background-color: beige;}

h1 {color: saddlebrown; padding-top: 50px; padding-bottom: 20px; text-align: center; font-weight: bold;}

#carshoot img {max-height: 200px; max-width: 120px; display: inline; padding: 10px;}

#enviroshoot img{max-height: 200px; max-width: 120px; display: inline; padding: 10px;}

